<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WI-demo</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css">
    <link rel="stylesheet" href="https://www.db-artsam.ru/images/stars.css">
  </head>
<body>
<!--
https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900
https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css
https://fonts.googleapis.com/css?family=Material+Icons
https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css
https://www.db-artsam.ru/images/stars.css
-->
<style>
/* https://codepen.io/kenchen/pen/tgBiE */
/* filter: invert(1); */
/* 
<div style="position: absolute; margin-top: -130px; margin-left: 90px;">
    <div class="loader-circle"></div>
    <div class="loader-line-mask">
      <div class="loader-line"></div>
    </div> 
    */

.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}
.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 180px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  -webkit-transform-origin: 90px 90px;
  -moz-transform-origin: 90px 90px;
  -ms-transform-origin: 90px 90px;
  -o-transform-origin: 90px 90px;
  transform-origin: 90px 90px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: rotate 1.2s infinite linear;
  -moz-animation: rotate 1.2s infinite linear;
  -o-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
@-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
[not-existing] {
  zoom: 1;
}

</style>

<main id="main">
  <span id="star" style="width: 100%; height: 100%; position: absolute; background-size: cover; transform: scale(1.1);">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
  </span>
  <span id="b_img" style="width: 100%; height: 100%; position: absolute; background-size: cover; transform: scale(1.1);"></span>
  <canvas id="canvas" style="background-color: #2c343f; position: absolute; background-size: cover; height: 100%; transform: scale(1.1);" hidden="true"></canvas>
  <div id="cube_ico" style="position: fixed; width: 100%; height: 100%; padding: 20px;">
    <div id="cube_ico_i" style="width: 100%; height: 100%; filter: invert(1); background: url('https://www.db-artsam.ru/images/yod_space.png') left bottom / 100px 40px no-repeat;"></div>
  </div>
  

  <v-app id="inspire">
    
    <div v-if="seen == 0">

      <v-toolbar flat :style="settings_theme.header_style">

        <v-text-field v-model="search_text" v-on:input="btn_search()" :label="`${ lt.search_profile[local] }`" 
          ingle-line flat solo dense style="margin: 25px 0px 0px 0px; max-width: 600px; min-width: 100px;" background-color="primary">
        </v-text-field>

        <v-spacer></v-spacer>

        <v-btn v-on:click="window_create" class="mx-2" label height="40" depressed color="accent">
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>

        <v-menu offset-y auto>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" class="float-right" label height="40" depressed color="error">
              <v-icon>mdi-menu</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item @click="">
              <v-list-item-title v-on:click="dialog_settings = true">{{ lt.settings[local] }}</v-list-item-title>
            </v-list-item>
            <v-list-item @click="">
              <v-list-item-title v-on:click="close_app()">{{ lt.btn_close_app[local] }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

      </v-toolbar>

      <v-container fluid style="padding: 20px 100px; margin: -20px 0px 0px 0px;">
        <v-row>
          <v-col cols="12">
            <v-row :align="alignment" :justify="justify" style="height: 300px;">

              <div v-for="(profile, index) in search_result" :key="index">
                <v-hover v-if="profile != undefined" v-slot:default="{ hover }" open-delay="200">
                  <v-card v-on:dblclick="profile_start(index)" :elevation="hover ? 16 : 2" style="width: 240px; margin: 55px 40px 20px 40px;" color="primary">
                    <v-img :src="profile.img" aspect-ratio="1.2" :style="($vuetify.theme.dark) ? settings_theme.i_white : settings_theme.i_dark" alt="screen"></v-img>
                    <v-card style="padding: 7px 12px 50px 12px; height: 120px;" outlined tile color="secondary">
                      <div style="padding: 0px 0px 4px 0px; max-width: 220px;"><b>{{ profile.name }}</b></div>
                      <div>
                        <div class="float-left" style="max-width: 160px; font-size: small;">{{ profile.desc }}</div>
                        <v-menu offset-y min-width="120">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on" class="float-right" x-small rounded dark color="accent">
                              <v-icon dark>mdi-dots-horizontal</v-icon>
                            </v-btn>
                          </template>
                          <v-list>
                            <v-list-item @click="">
                              <v-list-item-title v-on:click="profile_start(index)">{{ lt.profile_start[local] }}</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="">
                              <v-list-item-title v-on:click="window_edit(index)">{{ lt.window_edit[local] }}</v-list-item-title>
                            </v-list-item>
                            <v-list-item @click="">
                              <v-list-item-title v-on:click="profile_delete(index)">{{ lt.profile_delete[local] }}</v-list-item-title>
                            </v-list-item>
                          </v-list>
                        </v-menu>
                      </div>
                    </v-card>
                    <v-progress-linear v-show="profile_list[index].start" indeterminate color="green" class="float-right"></v-progress-linear>
                  </v-card>
                </v-hover>
              </div>

            </v-row>
          </v-col>
        </v-row>
      </v-container>
      
    </div>
    <div v-if="seen == 1">

      <v-toolbar height="25" style="background: rgba(255, 255, 255, 0); margin: 20px 10px 0px 0px;" flat>
        <v-spacer></v-spacer>
          <v-btn @click="window_main()" label  style="background: rgba(255, 255, 255, 0);" depressed>
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar>
      
      <v-row no-gutters style="margin: -20px 0px 0px 0px;" >
        <v-col md="8" offset-md="2">
          <v-col cols="12">
            <h2 style="padding: 10px 0px;">{{ lt.profile[local] }}</h2>

            <v-row>
              <v-col md="4">
                <v-img :src="profile_edit_data.img" aspect-ratio="1.1" :style="($vuetify.theme.dark) ? settings_theme.i_white : settings_theme.i_dark" alt="screen"></v-img>
              </v-col>
              <v-col>
                <v-text-field v-model="profile_edit_data.name" :label="`${ lt.profile_name[local] }`" ingle-line solo background-color="primary"></v-text-field>
                <v-text-field v-model="profile_edit_data.desc" :label="`${ lt.profile_desc[local] }`" ingle-line solo background-color="primary"></v-text-field>
              </v-col>
            </v-row>
          
          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.proxy[local] }}</h2>
              <sup class="pa-2" :title="lt.proxy_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-card color="primary">
              <v-row style="padding: 0px 10px;" style="opacity: .7;">
                <v-col cols="auto">
                  {{ lt.proxy_server[local] }}
                  <input class="align-self-center" v-model="profile_edit_data.proxy.server">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_port[local] }}
                  <input class="align-self-center" v-model="profile_edit_data.proxy.port">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_type[local] }}
                  <button @click="profile_edit_data.proxy.type = 'http'; proxy_type = false;" v-show="proxy_type">socks5</button>
                  <button @click="profile_edit_data.proxy.type = 'socks5'; proxy_type = true;" v-show="!proxy_type">http</button>
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_login[local] }}
                  <input v-model="profile_edit_data.proxy.login">
                </v-col>
                <v-col cols="auto">
                  {{ lt.proxy_pass[local] }}
                  <input v-model="profile_edit_data.proxy.pass">
                </v-col>
              </v-row>
            </v-card>
            <div class="d-flex mb-6" style="padding: 20px 0px 0px 0px;" flat tile>
              <div class="ml-auto" tile>
                <v-progress-circular v-if="wait_profile.proxy == true" indeterminate color="green"></v-progress-circular>
                <v-btn v-on:click="proxy_check" large class="white--text mx-4" min-width="180" color="error"  :disabled="wait_profile.proxy">{{ lt.btn_proxy_check[local] }}</v-btn>
              </div>
            </div>            
          </v-col>

          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.fp[local] }}</h2>
              <sup class="pa-2" :title="lt.fp_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-list style="background: rgba(255, 255, 255, 0);">
              <v-list-item class="grey lighten-3">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_browser[local] }}</span>
                {{profile_edit_data.fingerprint.tags[1]}}
              </v-list-item>
              <v-list-item class="grey lighten-5">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_system[local] }}</span>
                {{profile_edit_data.fingerprint.tags[3]}}
              </v-list-item>
              <v-list-item class="grey lighten-3">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_lang[local] }}</span>
                {{profile_edit_data.fingerprint.lang}}
              </v-list-item>
              <v-list-item class="grey lighten-5">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_browser_height[local] }}</span>
                {{profile_edit_data.fingerprint.height}}
              </v-list-item>
              <v-list-item class="grey lighten-3">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_browser_width[local] }}</span>
                {{profile_edit_data.fingerprint.width}}
              </v-list-item>
              <v-list-item class="grey lighten-5">
                <span class="font-weight-light" style="padding: 0px 20px;">{{ lt.fp_user_agent[local] }}</span>
                {{profile_edit_data.fingerprint.ua}}
              </v-list-item>
              <v-list-item class="grey lighten-3" style="padding: 20px 0px;">
                <v-progress-circular v-if="wait_profile.fingerprint == true" indeterminate color="green"></v-progress-circular>
                <v-btn v-on:click="get_new_fp()" large class="white--text mx-4" color="error" :disabled="wait_profile.fingerprint">{{ lt.get_new_fp[local] }}</v-btn>
              </v-list-item>
            </v-list>
          </v-col>
          
          <v-col cols="12">
            <div class="d-flex mb-6" style="padding: 20px 0px;" flat tile>
              <div class="pa-2 ml-auto" flat tile>
                <v-progress-circular v-if="wait_profile.edit == true" indeterminate color="green"></v-progress-circular>
                <v-btn v-on:click="wait_profile.edit = true; profile_edit()" large color="error" class="white--text mx-4" :disabled="wait_profile.edit">{{ lt.btn_apply[local] }}</v-btn>
                <v-btn v-on:click="window_main()" large class="grey darken-1 white--text" :disabled="wait_profile.edit">{{ lt.btn_cancel[local] }}</v-btn>
              </div>
            </div>
          </v-col>

            
        </v-col>
      </v-row>
      
    </div>
    <div v-if="seen == 2">

      <v-toolbar height="25" style="background: rgba(255, 255, 255, 0); margin: 20px 10px 0px 0px;" flat>
        <v-spacer></v-spacer>
          <v-btn @click="window_main()" label  style="background: rgba(255, 255, 255, 0);" depressed>
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar>

      <v-row no-gutters style="margin: -20px 0px 0px 0px;">
        <v-col md="8" offset-md="2" >

          <v-col cols="12">
            <h2 style="padding: 20px 0px;">{{ lt.profile[local] }}</h2>
            <v-text-field v-model="new_profile.name" :label="`${ lt.profile_name[local] }`" counter="22" :rules="[v => v.length <= 22 || 'Max 22 characters']" ingle-line solo background-color="primary"></v-text-field>
            <v-text-field v-model="new_profile.desc" :label="`${ lt.profile_desc[local] }`" counter="44" :rules="[v => v.length <= 44 || 'Max 44 characters']" ingle-line solo background-color="primary"></v-text-field>
          </v-col>
            
          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.fp_properties[local] }}</h2>
              <sup class="pa-2" :title="lt.fp_properties_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>

            <v-row align="center" justify="start" class="white">
              <v-col v-for="(selection, i) in selections_system" :key="selection" class="shrink">
                <v-chip :disabled="loading" close @click:close="new_profile.system.splice(i, 1); btn_fp_post();" color="black" close-icon="close" class="black white--text" label>
                  {{ selection }}
                </v-chip>
              </v-col>
            </v-row>
            <v-divider v-if="!allSelected"></v-divider>
            <div align="center" justify="start">
              <template v-for="item in sys_tags">
                <v-chip v-if="!new_profile.system.includes(item)" :key="item" :disabled="loading" @click="new_profile.system.push(item); btn_fp_post(item);" class="white black--text" style="margin: 5px; padding: 20px;" label>
                  {{item}}
                </v-chip>
              </template>
            </div>

          </v-col>
          
          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">PerfrctCanvas</h2>
              <sup class="pa-2" :title="lt.perfrct_canvas_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-text-field v-model="new_profile.perfrct_canvas_url" label="" ingle-line solo background-color="primary" outlined></v-text-field>
            <v-btn v-show="new_profile.perfrct_canvas_url.length > 0" v-on:click="wait_profile.perfrct_canvas = true; get_perfrct_canvas()" large class=" white--text mx-4" color="error" :disabled="wait_profile.perfrct_canvas">{{ lt.get_perfrct_canvas[local] }}</v-btn>
            <v-progress-circular v-if="wait_profile.perfrct_canvas == true" indeterminate color="green"></v-progress-circular>
          </v-col>

          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.fp_age_max[local] }}</h2>
              <sup class="pa-2" :title="lt.fp_age_max_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-radio-group v-model="new_profile.age" row>
              <v-radio :label="`${ lt.fp_age_any[local] }`" value="*" color="secondary"></v-radio>
              <v-radio :label="`15 ${ lt.fp_age_days[local] }`" value="15 days" color="secondary"></v-radio>
              <v-radio :label="`30 ${ lt.fp_age_days[local] }`" value="30 days" color="secondary"></v-radio>
              <v-radio :label="`60 ${ lt.fp_age_days[local] }`" value="60 days" color="secondary"></v-radio>
            </v-radio-group>
          </v-col>
          
          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.fp_browser_min[local] }}</h2>
              <sup class="pa-2" :title="lt.fp_browser_min_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-text-field v-model="new_profile.browser_min" label="" ingle-line solo background-color="primary"></v-text-field>
          </v-col>

          <v-col cols="12">
            <div class="d-flex flex-row mb-6">
              <h2 style="padding: 10px 0px;">{{ lt.browser_cookies[local] }}</h2>
              <sup class="pa-2" :title="lt.browser_cookies_help[local]">
                <v-icon small color="black">mdi-help-circle-outline</v-icon>
              </sup>
            </div>
            <v-text-field v-on:click="select_dir()" v-model="new_profile.path_cookie" :label="`${ lt.browser_cookies_dir[local] }`" show-size ingle-line solo></v-text-field>
          </v-col>
          
          <div class="d-flex mb-6" style="padding: 20px 0px;" flat tile>
            <div class="pa-2 ml-auto" flat tile>
              <v-progress-circular v-if="wait_profile.create == true" indeterminate color="green"></v-progress-circular>
              <v-btn v-on:click="wait_profile.create = true; profile_create()" large class=" white--text mx-4" color="error" :disabled="wait_profile.create">{{ lt.btn_apply[local] }}</v-btn>
              <v-btn v-on:click="window_main()" large class="grey darken-1 white--text" :disabled="wait_profile.create">{{ lt.btn_cancel[local] }}</v-btn>
            </div>
          </div>
            
        </v-col>
      </v-row>
      
    </div>

    <v-dialog v-model="dialog.show" width="500">
      <v-card color="primary" color="#FAFAFA">
        <v-toolbar height="25px" flat color="secondary">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click="dialog.show = 0">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text style="padding: 30px;" class="black--text">
          {{dialog.msg}}
          <pre>{{ dialog.e }}</pre>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_settings" width="500">
      <v-card min-height="300" color="#FAFAFA">
        <v-toolbar height="25px" flat color="secondary">
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn icon @click="dialog_settings = 0">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <div style="padding: 10px;">
          <v-card-title class="black--text"><b>{{ lt.settings_2[local] }}</v-card-title>
          <v-card-actions>
            <v-select light v-model="settings_lang.select" :items="settings_lang.list" :label="`${ lt.select_lang[local] }`" outlined>
          </v-card-actions>
          <v-card-actions>
            <v-select light v-model="settings_theme.select" :items="settings_theme.list[local]" :label="`${ lt.select_theme[local] }`" outlined>
          </v-card-actions>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn v-on:click="lang_change(); theme_change();" large class="white--text" color="error">{{ lt.btn_apply[local] }}</v-btn>
            <v-btn v-on:click="dialog_settings = false" large class="grey darken-1 white--text" >{{ lt.btn_cancel[local] }}</v-btn>
          </v-card-actions>
        </div>

      </v-card>
    </v-dialog>
    
  </v-app>
</main>
<script id="canvas_js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<!--
https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js

https://cdn.jsdelivr.net/npm/vue
https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js
-->


<script>
window.demo_test = true;
function fp_r(){
  return {"valid":true,"payload":"(function(){var refs={};;var aliases={};aliases[\"window.navigator.userAgent\"] = eval(\"window.navigator.userAgent\");aliases[\"window.navigator\"] = eval(\"window.navigator\");aliases[\"window.navigator.language\"] = eval(\"window.navigator.language\");aliases[\"window.navigator.languages\"] = eval(\"window.navigator.languages\");aliases[\"window.navigator.geolocation\"] = eval(\"window.navigator.geolocation\");aliases[\"window.navigator.webkitTemporaryStorage\"] = eval(\"window.navigator.webkitTemporaryStorage\");aliases[\"window.navigator.webkitPersistentStorage\"] = eval(\"window.navigator.webkitPersistentStorage\");aliases[\"window.navigator.getBattery\"] = eval(\"window.navigator.getBattery\");aliases[\"window.navigator.sendBeacon\"] = eval(\"window.navigator.sendBeacon\");aliases[\"window.navigator.getGamepads\"] = eval(\"window.navigator.getGamepads\");aliases[\"window.navigator.javaEnabled\"] = eval(\"window.navigator.javaEnabled\");aliases[\"window.navigator.vibrate\"] = eval(\"window.navigator.vibrate\");aliases[\"window.navigator.permissions\"] = eval(\"window.navigator.permissions\");aliases[\"window.navigator.credentials\"] = eval(\"window.navigator.credentials\");aliases[\"window.navigator.mediaDevices\"] = eval(\"window.navigator.mediaDevices\");aliases[\"window.navigator.serviceWorker\"] = eval(\"window.navigator.serviceWorker\");aliases[\"window.navigator.storage\"] = eval(\"window.navigator.storage\");aliases[\"window.navigator.presentation\"] = eval(\"window.navigator.presentation\");aliases[\"window.navigator.requestMediaKeySystemAccess\"] = eval(\"window.navigator.requestMediaKeySystemAccess\");aliases[\"window.navigator.getUserMedia\"] = eval(\"window.navigator.getUserMedia\");aliases[\"window.navigator.webkitGetUserMedia\"] = eval(\"window.navigator.webkitGetUserMedia\");aliases[\"window.navigator.registerProtocolHandler\"] = eval(\"window.navigator.registerProtocolHandler\");aliases[\"window.navigator.unregisterProtocolHandler\"] = eval(\"window.navigator.unregisterProtocolHandler\");aliases[\"window.navigator.requestMIDIAccess\"] = eval(\"window.navigator.requestMIDIAccess\");;})();","plugins":[{"ref":842281895,"description":"Portable Document Format","filename":"internal-pdf-viewer","name":"Chrome PDF Plugin","mimes":[-1628473889]},{"ref":1010824838,"description":"","filename":"mhjfbmdgcfjbbpaeojofohoefgiehjai","name":"Chrome PDF Viewer","mimes":[-1248334925]},{"ref":-1466093580,"description":"","filename":"internal-nacl-plugin","name":"Native Client","mimes":[1154639664,1436323448]}],"mimes":[{"ref":-1248334925,"description":"","suffixes":"pdf","type":"application/pdf","plugin":1010824838},{"ref":-1628473889,"description":"Portable Document Format","suffixes":"pdf","type":"application/x-google-chrome-pdf","plugin":842281895},{"ref":1154639664,"description":"Native Client Executable","suffixes":"","type":"application/x-nacl","plugin":-1466093580},{"ref":1436323448,"description":"Portable Native Client Executable","suffixes":"","type":"application/x-pnacl","plugin":-1466093580}],"ua":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36","tags":["Microsoft Windows","Chrome","Desktop","Windows 10"],"dnt":false,"width":1600,"height":789,"canvas":"f9e496606ff03c50313b2e98d2a4becda87408d8de535cb33d84f62ceace65e7ca0066f9176d2f0fd2de673323a5f749ab7aa526fa15b1b6928f3a92ffe72b0680837d8083807f7d7d7c807d7e7c7d81817e7b817f7d7f837e7b827d7e817f7c82817e7b7b827e7d837b8080807f7f7c817d83","webgl":"60c6473109d7e2094595e67439121711ee30625611e332f62cb9acd1f3db10a1005361fffe3754bd63df0a3e41c02af374534eda58aa6b671661768b9782500980837d8083807f7d7d7c807d7e7c7d81817e7b817f7d7f837e7b827d7e817f7c82817e7b7b827e7d837b8080807f7f7c817d83","rectangles":"d02c62633b30368a5cd667d2508a8af738c61997051600b8178006402162825d07bfa814b3cac3a2fa8d0aaee403752dfb0c3d09f55f3c18c1607996d0f03901bc38feffec010100177e000067c4f8ffec93020071d20400501f050034350400c649faff2b7a04006506fcff10ddfaff638c0300d5c30400da3bffff9ed50400b1cffdff647c050086faf9ffb23afbffe7f201002d27040098b8feff9560f8ff36d904007999f8ff8e800200997afeffc42401003c7efbff4aa30300a783fffffeebf8ff4c61fdff8e5afaff3c3bfcff87900300c2e10400bee300005ff1faffeadbfdff2697f9ff74f4feff1ac6f8ff6da0fdffbc9effff06fbf9ff71aefcffba6500003eddfeff856605006dc3faffaf5afdff6ee90100d164f9ff48daf8ff3e210000b628fcff56ca000053c204009756000008ed0200f332fcff5a3e0200","audio":"b1463fef85e11056ffe8bbb66a8b133c16f7731c75b8c6bf79df271153667f170a2b45fe6b993fe7b20c5470d1bedac4624455d1dc4a9e3826751e05e5ac2402718082908e808182758d6f7b856b6d6f916e6b8d6b8c7b8c797a768b8193877d78728c79807e8b828f74767074748d867f857b6d91769278928c936d82887b7b87746c6b867782858277756d7c85888b727e8c85738778747c809090847883827f7c8280","battery":"8b8aa64ae1fd58b60b4003cc54573ec23406df271bdae407bd01f17e4195a2dcf167575a592942d5dd3bb7d8225879c5190526feecb6923648ad8c7363d3b709148459c7381457","has_battery_api":true,"has_battery_device":false,"webgl_properties":{"unmaskedVendor":"Google Inc.","unmaskedRenderer":"ANGLE (Intel(R) HD Graphics 4000 Direct3D11 vs_5_0 ps_5_0)","vendor":"WebKit","renderer":"WebKit WebGL","alphaBits":"8","blueBits":"8","depthBits":"24","greenBits":"8","maxCombinedTextureImageUnits":"32","maxCubeMapTextureSize":"16384","maxFragmentUniformVectors":"1024","maxRenderBufferSize":"16384","maxTextureImageUnits":"16","maxTextureSize":"16384","maxVaryingVectors":"30","maxVertexAttribs":"16","maxVertexTextureImageUnits":"16","maxVertexUniformVectors":"4096","redBits":"8","stencilBits":"0","extensions":"ANGLE_instanced_arrays,EXT_blend_minmax,EXT_color_buffer_half_float,EXT_disjoint_timer_query,EXT_float_blend,EXT_frag_depth,EXT_shader_texture_lod,EXT_texture_filter_anisotropic,WEBKIT_EXT_texture_filter_anisotropic,EXT_sRGB,KHR_parallel_shader_compile,OES_element_index_uint,OES_fbo_render_mipmap,OES_standard_derivatives,OES_texture_float,OES_texture_float_linear,OES_texture_half_float,OES_texture_half_float_linear,OES_vertex_array_object,WEBGL_color_buffer_float,WEBGL_compressed_texture_s3tc,WEBKIT_WEBGL_compressed_texture_s3tc,WEBGL_compressed_texture_s3tc_srgb,WEBGL_debug_renderer_info,WEBGL_debug_shaders,WEBGL_depth_texture,WEBKIT_WEBGL_depth_texture,WEBGL_draw_buffers,WEBGL_lose_context,WEBKIT_WEBGL_lose_context","shadingLanguage":"WebGL GLSL ES 1.0 (OpenGL ES GLSL ES 1.0 Chromium)","version":"WebGL 1.0 (OpenGL ES 2.0 Chromium)","maxAnisotropy":"16"},"audio_properties":{"BaseAudioContextSampleRate":48000,"AudioContextBaseLatency":0.01,"AudioDestinationNodeMaxChannelCount":2},"fonts":["Arial","Arial Black","Arial Narrow","Book Antiqua","Bookman Old Style","Calibri","Cambria","Cambria Math","Century","Century Gothic","Century Schoolbook","Comic Sans MS","Consolas","Courier","Courier New","Garamond","Georgia","Helvetica","Impact","Lucida Bright","Lucida Calligraphy","Lucida Console","Lucida Fax","Lucida Handwriting","Lucida Sans","Lucida Sans Typewriter","Lucida Sans Unicode","Microsoft Sans Serif","Monotype Corsiva","MS Gothic","MS PGothic","MS Reference Sans Serif","MS Sans Serif","MS Serif","Palatino Linotype","Segoe Print","Segoe Script","Segoe UI","Segoe UI Light","Segoe UI Semibold","Segoe UI Symbol","Tahoma","Times","Times New Roman","Trebuchet MS","Verdana","Wingdings","Wingdings 2","Wingdings 3","Agency FB","Algerian","Baskerville Old Face","Bauhaus 93","Bell MT","Berlin Sans FB","Bernard MT Condensed","Blackadder ITC","Bodoni MT","Bodoni MT Black","Bodoni MT Condensed","Bookshelf Symbol 7","Bradley Hand ITC","Broadway","Brush Script MT","Californian FB","Calisto MT","Candara","Castellar","Centaur","Chiller","Colonna MT","Constantia","Cooper Black","Copperplate Gothic","Copperplate Gothic Light","Corbel","Curlz MT","Ebrima","Edwardian Script ITC","Elephant","Engravers MT","EucrosiaUPC","Felix Titling","Footlight MT Light","Forte","Freestyle Script","French Script MT","Gabriola","Gigi","Gill Sans MT","Gill Sans MT Condensed","Goudy Old Style","Goudy Stout","Haettenschweiler","Harrington","High Tower Text","Imprint MT Shadow","Informal Roman","Jokerman","Juice ITC","Kristen ITC","Kunstler Script","Leelawadee","Magneto","Maiandra GD","Malgun Gothic","Marlett","Matura MT Script Capitals","Microsoft Himalaya","Microsoft JhengHei","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Uighur","Microsoft YaHei","Microsoft Yi Baiti","MingLiU_HKSCS-ExtB","MingLiU-ExtB","Mistral","Modern No. 20","Mongolian Baiti","MS Reference Specialty","MS UI Gothic","MT Extra","MV Boli","Niagara Engraved","Niagara Solid","NSimSun","Old English Text MT","Onyx","Palace Script MT","Papyrus","Parchment","Perpetua","Perpetua Titling MT","Playbill","PMingLiU-ExtB","Poor Richard","Pristina","Ravie","Rockwell","Rockwell Condensed","Showcard Gothic","SimSun","SimSun-ExtB","Snap ITC","Stencil","Sylfaen","Tempus Sans ITC","Tw Cen MT","Tw Cen MT Condensed","Viner Hand ITC","Vivaldi","Vladimir Script","Wide Latin"],"headers":["Host","X-Real-Ip","X-Forwarded-For","Connection","Content-Length","Cache-Control","Accept-Datetime","X-Csrf-Token","If-Unmodified-Since","Authorization","X-Requested-With","If-Modified-Since","X-Http-Method-Override","X-Request-Id","Pragma","Upgrade-Insecure-Requests","User-Agent","Range","Content-Type","Max-Forwards","If-None-Match","If-Match","If-Range","Accept","Origin","Sec-Fetch-Site","Sec-Fetch-Mode","Sec-Fetch-Dest","Referer","Accept-Encoding","Accept-Language"],"lang":"ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7","native_code":"function Object() { [native code] }","connection":{"effectiveType":"4g","rtt":100,"downlink":10,"saveData":false},"attr":{"navigator.vendorSub":"","navigator.productSub":"20030107","navigator.vendor":"Google Inc.","navigator.appCodeName":"Mozilla","navigator.appName":"Netscape","navigator.appVersion":"5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36","navigator.platform":"Win32","navigator.product":"Gecko","navigator.userAgent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.113 Safari/537.36","screen.availHeight":860,"screen.availWidth":1600,"screen.width":1600,"screen.height":900,"screen.colorDepth":24,"screen.pixelDepth":24,"screen.availLeft":0,"screen.availTop":0,"outerHeight":860,"outerWidth":1600,"hardwareConcurrency":4,"maxTouchPoints":0,"deviceMemory":4,"window.devicePixelRatio":1},"orientation":{"angle":0,"type":"landscape-primary"},"doNotTrack":null};
}

function ex_data(){
  let fp_s = JSON.stringify( fp_r() );
  return [
          {id: "5f7763ad12db6ce42b078f1d", name: "dtdtyhd6d6u6utd6uhsyhyt", desc: "dtdtyhd6d6u6utd6uhsyhytdtdtyhd6d6u6utd6uhsyhyt", img: "C:\5f7763ad12db6ce42b078f1dscreen.png", proxy: {type: "",server: "",port: "",login: "",pass: ""},fingerprint: fp_s},
          {id: 1, name: "Title name  2", desc: "description 2", img: 'https://picsum.photos/500/200?random', proxy: {type: "http"},fingerprint: fp_s},
          {id: 2, name: "Title name  3", desc: "description 2", img: 'https://picsum.photos/501/200?random', proxy: {type: "http"},fingerprint: fp_s},
          {id: 3, name: "Title name  4", desc: "description 2", img: 'https://picsum.photos/502/200?random', proxy: {type: "http"},fingerprint: fp_s},
          {id: 4, name: "Title name  5", desc: "description 2", img: 'https://picsum.photos/syhg5tyhs4ws5yw45y', proxy: {type: "http"},fingerprint: fp_s},
          {id: 5, name: "Title name  6", desc: "description 2", img: 'https://picsum.photos/503/200?random', proxy: {type: "http"},fingerprint: fp_s},
          {id: 6, name: "Title name  7", desc: "description 2", img: 'https://picsum.photos/504/200?random', proxy: {type: "http"},fingerprint: fp_s},
          {id: 7, name: "Title name  8", desc: "description 2", img: 'https://picsum.photos/505/200?random', proxy: {type: "http"},fingerprint: fp_s},
          {id: 8, name: "Title name 9", desc: "description 2", img: 'https://picsum.photos/506/200?random', proxy: {type: "http"},fingerprint: fp_s},
          {id: 9, name: "Title name  10", desc: "description 2", img: 'https://picsum.photos/507/200?random', proxy: {type: "http"},fingerprint: fp_s},
          {id: 10, name: "Title name  11", desc: "description 2", img: 'https://picsum.photos/508/200?random', proxy: {type: "http"},fingerprint: fp_s},
        ];
}
</script>

<script>
  window.addEventListener('scroll', wrap_height_min);
  function wrap_height_min(){
    min_height()
    window.removeEventListener('scroll', wrap_height_min);
  }
  function min_height(){
    document.getElementById("main").style.height = "100%";
    document.getElementById("canvas").style.height = "100%";
    document.getElementById("inspire").style.height = "100%";
    document.getElementById("star").style.height = "100%";
    document.getElementById("b_img").style.height = "100%";
    let height = Math.max(
      document.body.scrollHeight, document.documentElement.scrollHeight,
      document.body.offsetHeight, document.documentElement.offsetHeight,
      document.body.clientHeight, document.documentElement.clientHeight
    );
    document.getElementById("main").style.height = height + "px";
    document.getElementById("canvas").style.height = height + "px";
    document.getElementById("inspire").style.height = height + "px";
    document.getElementById("star").style.height = height + "px";
    document.getElementById("b_img").style.height = height + "px";
  }
  function theme_data(select){
    switch( select ){
        case "Светлая":
        case "Light":
          var style = {
            dark: false,
            "background-color": '#FAFAFA',
            background: "",
            theme: {
              primary: '#EEEEEE',
              secondary: '#BDBDBD',
              accent: '#FF5252',
              error: '#FF5252',
              info: '#BDBDBD',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: #BDBDBD'
          }
          break;

        case "Тёмная":
        case "Dark":
          var style = {
            dark: true,
            type: "dark",
            "background-color": '#000000',
            background: "url('https://db-artsam.ru/images/dark_theme.jpg') no-repeat",
            theme: {
              primary: '#EEEEEE',
              secondary: '#757575',
              accent: '#82B1FF',
              error: '#FF5252',
              info: '#757575',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: #757575'
          }
          break;

        case "Cube": // codepen.io/mladen___/pen/gbvqBo
          var style = {
            dark: true,
            "background-color": '#FAFAFA',
            background: "",
            theme: {
              primary: '#616161',
              secondary: '#273039',
              accent: '#5CD3AD',
              error: '#FCC757',
              info: '#273039',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: #273039'
          }
          break;

        case "Space":// codepen.io/saransh/pen/BKJun 
          var style = {
            dark: true,
            "background-color": '#FAFAFA',
            background: "background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);",
            theme: {
              primary: '#353535',
              secondary: '#1d1d1d',
              accent: '#4c3970',
              error: '#4c3970',
              info: '#1d1d1d',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: #1d1d1d'
          }
        break;

        case "Розовая":
        case "Pink":
          var style = {
            dark: false,
            "background-color": '#FCE4EC',
            background: "url('https://db-artsam.ru/images/pink.jpg') no-repeat",
            theme: {
              primary: '#F8BBD0',
              secondary: '#F44336',
              accent: '#D500F9',
              error: '#AD1457',
              info: '#F44336',
              success: '#4CAF50',
              warning: '#FFC107',
            },
            header_color: 'background-color: rgba(244, 67, 54, 0.8);'
          }
          break;

        // default:
        //   alert('Результат выглядит странновато. Честно.');
      }
    return style;
  }
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }
</script>

<!-- http://127.0.0.1:5500/wi-demo.html -->

<script>
var app = new Vue({
  el: '#main',
  vuetify: new Vuetify({
    theme: {
      themes: {
        light: {
          primary: '#EEEEEE',
          secondary: '#BDBDBD',
          accent: '#FF5252',
          error: '#FF5252',
          info: '#BDBDBD',
          success: '#4CAF50',
          warning: '#FFC107',
        },
      },
    },
  }),
  data: {
    h: 2000,
    seen: 0,
    main_menu: false,
    profile_list: [],
    profile_edit_data: {},
    alignment: 'start', //'start','center',end','baseline','stretch',
    justify: 'start',
    dense: false,
    new_profile: {age: '*', system: ['*'], browser_min: '*', perfrct_canvas: '', name: '', desc: '', path_cookie: '', perfrct_canvas_url: ''},
    sys_tags: [
        '*',
        'Mobile',
        'Desktop',
        'Microsoft Windows',
        'Windows 10',
        'Windows 7',
        'Windows 8',
        'Linux',
        'Apple Mac',
        'Android',
        'iPad',
        'iPhone',
        'Microsoft Windows Phone',
        'Edge',
        'IE',
        'Firefox',
        'Safari',
        'Chrome',
        'YaBrowser',
      ],
    loading: false,
    profile: "",
    proxy_type: true,
    wait_profile: {create: false, edit: false, proxy: false, fingerprint: false, perfrct_canvas: false},
    search_text: "",
    search_result: [],
    dialog: {msg: "", e: "", show: false},
    dialog_settings: false,
    color_t: "",
    settings_theme: {
      select: "Светлая",
      t: false,
      list: {
        ru: ["Светлая","Cube","Space","Тёмная","Розовая"],
        en: ["Light","Cube","Space","Dark","Pink"],
      },
      header_style: 'background-color: rgb(189, 189, 189);',
      i_white: "background: url('https://db-artsam.ru/images/default_white_image.jpg') center no-repeat RGB(255, 255, 255);",
      i_dark: "background: url('https://db-artsam.ru/images/default_dark_image.jpg') center no-repeat rgb(50,50,50);",
    },
    settings_lang: {
      select: "Русский",
      list: ["Русский","English"],
    },
    local: 'ru',
    lt: {
      error_proxy_check_none: {
        ru: "Сервер или порт прокси не указан.",
        en: 'No server or proxy port is specified.',
      },
      search_profile: {
        ru: "Поиск профиля",
        en: 'Profile search',
      },
      get_new_fp_true: {
        ru: "Новый fingerprint получен успешно.",
        en: 'The new fingerprint has been successfully obtained.',
      },
      error_get_new_fp: {
        ru: "Ошибка при получении нового fingerprint.",
        en: 'Error on receiving a new fingerprint.',
      },
      get_new_fp: {
        ru: "Получить новый отпечаток",
        en: 'Get a new fingerprint',
      },
      settings: {
        ru: "Настройки",
        en: 'Settings',
      },
      settings_2: {
        ru: "Настройки интерфейса:",
        en: 'Interface settings:',
      },
      select_lang: {
        ru: "Выбор языка интерфейса",
        en: 'Interface language selection',
      },
      select_theme: {
        ru: "Выбор темы интерфейса",
        en: 'Select an interface theme',
      },
      error_profile_delete: {
        ru: "Удалить профиль не удалось.",
        en: 'The profile could not be deleted.',
      },
      error_profile_edit: {
        ru: "Изменить профиль не удалось.",
        en: 'It was not possible to change the profile.',
      },
      error_profile_get_fp: {
        ru: "Получить отпечаток не удалось.",
        en: 'It was not possible to get a fingerprint.',
      },
      error_profile_create: {
        ru: "Создать профиль не удалось.",
        en: 'It was not possible to create a profile.',
      },
      error_profile_start: {
        ru: "Запустить профиль не удалось.",
        en: '',
      },
      error_init_profile_list: {
        ru: "Не удалось получить список профилей.",
        en: 'It was not possible to launch the profile.',
      },
      profile_start: {
        ru: "Запустить",
        en: 'Run',
      },
      window_edit: {
        ru: "Редактировать",
        en: 'Edit',
      },
      profile_delete: {
        ru: "Удалить",
        en: 'Delite',
      },
      profile: {
        ru: "Профиль",
        en: 'Profile',
      },
      profile_name: {
        ru: "Название профиля",
        en: 'Profile name',
      },
      profile_desc: {
        ru: "Описание профиля",
        en: 'Profile Description',
      },
      proxy_server: {
        ru: "Сервер:",
        en: 'Server:',
      },
      proxy_port: {
        ru: "Порт:",
        en: 'Port:',
      },
      proxy_type: {
        ru: "Тип:",
        en: 'Type:',
      },
      proxy_login: {
        ru: "Логин:",
        en: 'Login:',
      },
      proxy_pass: {
        ru: "Пароль:",
        en: 'Password:',
      },
      proxy: {
        ru: "Прокси",
        en: 'Proxy',
      },
      fp: {
        ru: "Отпечаток",
        en: 'Fingerprint',
      },
      fp_browser: {
        ru: "Название браузера:",
        en: 'Browser name:',
      },
      fp_system: {
        ru: "Платформа:",
        en: 'Platform:',
      },
      fp_lang: {
        ru: "Языки браузера:",
        en: 'Browser languages:',
      },
      fp_browser_height: {
        ru: "Высота браузера:",
        en: 'Browser height:',
      },
      fp_browser_width: {
        ru: "Ширина браузера:",
        en: 'Browser width:',
      },
      fp_user_agent: {
        ru: "Юзер-Агент",
        en: 'User-Agent:',
      },
      btn_apply: {
        ru: "ПРИНЯТЬ",
        en: 'APPLY',
      },
      btn_cancel: {
        ru: "ОТМЕНА",
        en: 'CANCEL',
      },
      fp_properties: {
        ru: "Параметры Отпечатка",
        en: 'Fingerprint properties',
      },
      fp_age_max: {
        ru: "Максимальный возраст отпечатка",
        en: 'Age',
      },
      fp_age_days: {
        ru: "дней",
        en: 'days',
      },
      fp_age_any: {
        ru: "любое",
        en: 'any',
      },
      fp_browser_min: {
        ru: "Минимальная версия браузера",
        en: 'Minimal browser version',
      },
      browser_cookies: {
        ru: "Файл куков браузера",
        en: 'Browser cookies file',
      },
      browser_cookies_dir: {
        ru: "Папка куда сохранять куки браузера",
        en: 'Folder where to save your browser\'s cookies',
      },
      error_close_app: {
        ru: "Закрыть приложение не удалось.",
        en: 'It was not possible to close the application.',
      },
      btn_close_app: {
        ru: "Выход",
        en: 'Exit',
      },
      btn_proxy_check:{
        ru: "ПРОВЕРИТЬ",
        en: "CHECK",
      },
      error_proxy_check: {
        ru: "Проверить прокси не удалось.",
        en: 'It was not possible to check the proxy.',
      },
      proxy_check_true: {
        ru: "Проверка прокси прошла успешно.",
        en: 'The proxy check was successful.',
      },
      proxy_check_false: {
        ru: "Проверка прокси прошла неудачно.",
        en: 'The proxy check was unsuccessful.',
      },
      proxy_help: {
        ru: "proxy_help",
        en: 'proxy_help',
      },
      fp_help: {
        ru: "fp_help",
        en: 'fp_help',
      },
      fp_properties_help: {
        ru: "fp_properties_help",
        en: 'fp_properties_help',
      },
      fp_age_max_help: {
        ru: "fp_age_max_help",
        en: 'fp_age_max_help',
      },
      fp_browser_min_help: {
        ru: "fp_browser_min_help",
        en: 'fp_browser_min_help',
      },
      browser_cookies_help: {
        ru: "browser_cookies_help",
        en: 'browser_cookies_help',
      },
      perfrct_canvas_help: {
        ru: "perfrct_canvas_help",
        en: 'perfrct_canvas_help',
      },
      get_perfrct_canvas_true: {
        ru: "perfrct_canvas получен",
        en: 'perfrct_canvas получен',
      },
      get_perfrct_canvas_false: {
        ru: "perfrct_canvas не получен",
        en: 'perfrct_canvas не получен',
      },
      get_perfrct_canvas: {
        ru: "Получить Perfrct Canvas",
        en: 'Get Perfrct Canvas',
      },
      error_get_perfrct_canvas: {
        ru: "Ошибка при получении Perfrct Canvas.",
        en: 'Error on receiving a Perfrct Canvas.',
      },

    },
  },
  methods: {
    window_create(){
      this.new_profile = {age: '*', system: ['*'], browser_min: '*', perfrct_canvas: '', name: '', desc: '', path_cookie: '', perfrct_canvas_url: ''};
      this.theme_change2();
      this.seen = 2;
      scroll(0,0);
      window.addEventListener('scroll', wrap_height_min);;
    },
    window_main(){
      this.seen = 0;
      this.theme_change();
      window.addEventListener('scroll', wrap_height_min);
      scroll(0,0);
    },
    window_edit(id){
      this.wait_profile.edit = false;
      
      this.profile_edit_data.id = id;
      let d = this.profile_list[id];
      this.profile_edit_data.name = d.name;
      this.profile_edit_data.desc = d.desc;
      this.profile_edit_data.img = d.img;
      this.profile_edit_data.proxy = {
        server: (typeof d.proxy.server === 'undefined') ? "" : d.proxy.server,
        port: (typeof d.proxy.port === 'undefined') ? "" : d.proxy.port,
        type: (typeof d.proxy.type === 'undefined' || d.proxy.type == '' ) ? "socks5" : d.proxy.type,
        login: (typeof d.proxy.login === 'undefined') ? "" : d.proxy.login,
        pass: (typeof d.proxy.pass === 'undefined') ? "" : d.proxy.pass,
      }
      this.profile_edit_data.fingerprint = JSON.parse( this.profile_list[id].fingerprint );
      this.theme_change2();
      this.seen = 1;
      scroll(0,0);
      window.addEventListener('scroll', wrap_height_min);
    },
    profile_delete: async function(id){
      try{
        await Api.RunFunction("wi_profile_delete", {id: this.profile_list[id].id});
        this.profile_list.splice(id, 1);
        this.search_result = this.profile_list;
      }catch(e){
        this.dialog.msg = this.lt.error_profile_delete[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
    },
    profile_edit: async function(){
      this.wait_profile.edit = false;
      try{
        let i = this.profile_edit_data.id;
        this.profile_list[ i ].name = this.profile_edit_data.name;
        this.profile_list[ i ].desc = this.profile_edit_data.desc;
        this.profile_list[ i ].proxy = this.profile_edit_data.proxy;
        this.profile_list[ i ].fingerprint = JSON.stringify( this.profile_edit_data.fingerprint );
        await Api.RunFunction("wi_profile_edit", {data: this.profile_list[ i ]});
        this.theme_change();
        this.seen = 0;
        min_height();
        scroll(0,0);
      }catch(e){
        this.dialog.msg = this.lt.error_profile_edit[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
      this.wait_profile.edit = false;
    },
    profile_create: async function(){
      if( this.new_profile.desc.length > 44 || this.new_profile.name.length > 22 || this.new_profile.name.length < 1 ){
        if( this.local == "ru" ){
          this.dialog.msg = "Название или/и описание имеют недопустимое число символов.";
        }else{
          this.dialog.msg = "The name and/or description has an invalid number of characters.";
        }
        this.dialog.e = "";
        this.dialog.show = true;
      }else{
        try{
          this.wait_profile.create = true;

          var r = await Api.RunFunction("wi_profile_create", {data: this.new_profile});
          if( r.status === true){
            let length = this.profile_list.push( r.msg );
            this.search_result = this.profile_list;
            //this.theme_change();
            this.window_edit( length - 1 );
            //this.seen = 0;
            min_height();
            scroll(0,0);
          }else{
            this.dialog.msg = this.lt.error_profile_get_fp[this.local];
            this.dialog.e = "";
            this.dialog.show = true;
          }
        }catch(e){
          this.dialog.msg = this.lt.error_profile_create[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
      }
      this.wait_profile.create = false;
    },
    profile_start: async function(id){
      if( this.profile_list[id].start == true){
        return;
      }else{
        this.profile_list[id].start = true;
        try{
          await Api.RunFunction("wi_profile_start", {id: this.profile_list[id].id } );
          var removed = this.profile_list.splice(id, 1);
          removed[0].img = removed[0].img + "?" + Date.now();
          this.profile_list.unshift(removed[0]);
        }catch(e){
          this.dialog.msg = this.lt.error_profile_start[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
        this.profile_list[0].start = false;
      }

    },
    close_app: async function(){
      try{
        await CloseApplication();
      }catch(e){
        this.dialog.msg = this.lt.error_close_app[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
    },
    save_change: function(){
      if( window.demo_test == undefined ){
        WriteFile("c:/data/bas_007.txt", JSON.stringify( {lang: this.local, theme: this.settings_theme.select} ) )
      }
    },
    load_change: function(){
      try{
        let data = JSON.parse( ReadFile("c:/data/bas_007.txt") );
        this.local = data.lang;
        this.settings_theme.select = data.theme;
        this.theme_change();
      }catch(e){
        console.log("Error `ReadFile` `c:/data/bas_007.txt`:\n" + e)
      }
    },
    lang_change: function(){
      if( this.settings_lang.select == "English"){
        this.local = "en";
      }else{
        this.local = "ru";
      }
      this.save_change();
    },
    theme_change2(){
      document.getElementById("b_img").hidden = true;
      let style = theme_data(this.settings_theme.select);
      document.getElementById("b_img").style["background-color"] = '#FAFAFA';
      this.$vuetify.theme.themes.light.primary = '#EEEEEE';
      this.$vuetify.theme.themes.light.secondary = '#BDBDBD';
      this.$vuetify.theme.themes.light.accent = '#FF5252';
      this.$vuetify.theme.themes.light.error = style.theme.accent;
      this.$vuetify.theme.themes.light.info = '#2196F3';
      this.$vuetify.theme.themes.light.success = '#4CAF50';
      this.$vuetify.theme.themes.light.warning = '#FFC107';
      this.$vuetify.theme.dark = false;
      
      document.getElementById("star").hidden = true;
      document.getElementById("canvas").hidden = true;
      document.getElementById("cube_ico").hidden = false;
      document.getElementById("canvas_js").src = ""
    },
    theme_change(){
      let style = theme_data(this.settings_theme.select);
      this.$vuetify.theme.themes.light = style.theme;
      this.$vuetify.theme.themes.dark = style.theme;
      this.$vuetify.theme.dark = style.dark;
      this.settings_theme.header_style = style.header_color;

      this.save_change();

      document.getElementById("b_img").hidden = false;
      document.getElementById("star").hidden = true;
      document.getElementById("canvas").hidden = true;
      document.getElementById("canvas_js").src = ""

      document.getElementById("cube_ico").hidden = false;
      if( style.dark ){
        document.getElementById("cube_ico_i").style.filter = 'invert(0)';
      }else{
        document.getElementById("cube_ico_i").style.filter = 'invert(1)';
      }

      document.getElementById("b_img").style["background"] = "";
      document.getElementById("b_img").style["background-color"] = "";

      if( this.settings_theme.select == "Space" ){
        document.getElementById("star").style["background-color"] = "rgb(0, 0, 0)";
        document.getElementById("b_img").style["background-color"] = "";
        document.getElementById("star").hidden = false;
      }else if( this.settings_theme.select == "Cube" ){
        document.getElementById("b_img").style["background-color"] = "";
        document.getElementById("canvas").hidden = false;
        document.getElementById("canvas_js").src = "https://www.db-artsam.ru/images/cube.js"
      }else{
        document.getElementById("b_img").style["background"] = style.background;
        document.getElementById("b_img").style["background-color"] = style["background-color"];
      }
      document.getElementById("b_img").style["background-size"] = "cover";

      window.addEventListener('scroll', wrap_height_min);
    },
    proxy_check: async function(){
      this.wait_profile.proxy = true;
      if( this.profile_edit_data.proxy.server.length > 0 && this.profile_edit_data.proxy.port.length > 0){
        try{
          let r = await Api.RunFunction("wi_proxy_check", {data: this.profile_edit_data.proxy });
          if( r.status === true){
            this.dialog.msg = this.lt.proxy_check_true[this.local];
            this.dialog.e = "";
            this.dialog.show = true;
          }else{
            this.dialog.msg = this.lt.proxy_check_false[this.local];
            this.dialog.e = r.msg;
            this.dialog.show = true;
          }
        }catch(e){
          this.dialog.msg = this.lt.error_proxy_check[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
      }else{
        this.dialog.msg = this.lt.error_proxy_check_none[this.local];
        this.dialog.e = "";
        this.dialog.show = true;        
      }
      this.wait_profile.proxy = false;
    },
    get_new_fp: async function(){
      this.wait_profile.fingerprint = true;
      try{
        var r = await Api.RunFunction("wi_get_new_fp", {});
        if( r.status === true){
          this.profile_edit_data.fingerprint = JSON.parse( r.msg );
          this.dialog.msg = this.lt.get_new_fp_true[this.local];
          this.dialog.show = true;
        }else{
          this.dialog.msg = this.lt.error_profile_get_fp[this.local];
          this.dialog.e = "";
          this.dialog.show = true;
        }
      }catch(e){
        this.dialog.msg = this.lt.error_get_new_fp[this.local];
        this.dialog.e = e;
        this.dialog.show = true;
      }
      this.wait_profile.fingerprint = false;
    },
    get_perfrct_canvas: async function(){
      this.wait_profile.perfrct_canvas = true;
      if( this.new_profile.perfrct_canvas_url.ling.length > 0 ){
        try{
          var r = await Api.RunFunction("wi_get_perfrct_canvas", {site: this.new_profile.perfrct_canvas_url});
          if( r.status == true){
            this.new_profile.perfrct_canvas = r;
            this.dialog.msg = this.lt.get_perfrct_canvas_true[this.local];
            this.dialog.show = true;
          }else{
            this.dialog.msg = this.lt.error_get_perfrct_canvas[this.local];
            this.dialog.e = r.msg[this.local];//this.lt.get_perfrct_canvas_false[this.local];
            this.dialog.show = true;
          }
        }catch(e){
          this.dialog.msg = this.lt.error_get_perfrct_canvas[this.local];
          this.dialog.e = e;
          this.dialog.show = true;
        }
      }
      this.wait_profile.perfrct_canvas = false;
    },
    btn_search(){
      this.search_result = [];
      this.search = true;
      for(let i in this.profile_list){
        if( this.profile_list[i].name.toLowerCase().includes(this.search_text) ) this.search_result[i] = this.profile_list[i];
      }
      window.addEventListener('scroll', wrap_height_min);
    },
    btn_fp_post(item){
      if( this.new_profile.system.length === 0 ){
        this.new_profile.system = ["*"];
        return;
      }
      if( item == '*' ){
        this.new_profile.system = ["*"];
        return;
      }
      if( this.new_profile.system != ["*"] ){
        var index = this.new_profile.system.indexOf( "*" );
        if (index > -1) {
          this.new_profile.system.splice(index, 1);
        }
      }
    },
    select_dir : async function(){
      // wiki.bablosoft.com/web-interface/#/interactingnativewindow?id=method-openfiledialog
      let Options = {
        caption: this.lt.browser_cookies_dir[this.local],
        is_dir: true, 
        dir: "c:/", 
        filter: ""
      }
      //If user dismiss dialog, SelectedFile will contain empty string
      var SelectedDir = await Api.OpenFileDialog(Options);
      this.new_profile.path_cookie = SelectedDir;
    },
  },
  computed: {
    allSelected(){ return this.new_profile.system.length === this.sys_tags.length },
    categories(){ return this.sys_tags },
    selections_system () {
      const selections = []
      for (const selection of this.new_profile.system){
        selections.push(selection);
      }
      return selections;
    },
  },
  async created (){
    this.load_change();
    try{
      if( window.demo_test == undefined ){
        var r = await Api.RunFunction("wi_init_profile_list", {});
      }else{
        var r = ex_data();
      }
      this.profile_list = r;
      this.search_result = r;
    }catch(e){
      this.dialog.msg = this.lt.error_init_profile_list[this.local];
      this.dialog.e = e;
      this.dialog.show = true;
      this.profile_list = [];
    }
  },
  mounted() {
    window.addEventListener('scroll', wrap_height_min);
  }
})
</script>


</body>
</html>